<!DOCTYPE html>
<html lang="en-US">

	<head>
		<title>Unzucc.Me</title>
		<meta charset= "UTF-8">
		<link rel="stylesheet" type="text/css" href="static/main.css"/>
	</head>
	<body>
	<div class="header">
		  <a href="#default" class="logo">Humu Inc.</a>
		  <div class="header-right">
			<a class="active" href="#home">Home</a>
			<a href="#contact">Contact</a>
			<a href="#about">About</a>
		</div>
	</div>
	<div class="header" id="para"> <p> Welcome to our hackathon project! We can help you become unrecongizable to Facebook's auto tagging.</p>
	</div>
		<!-- Maybe add an asthetic photo that spans across the page. -->

		<h1>Unzucc Me</h1>

		<!-- uploading panel -->
		<div class="container1" id="container1">
		<img id="before" src="static/uploadButton.png" class="button"/>
			<script>
				function previewFile(){
					var preview = document.querySelector('img');
					var file = document.querySelector('input[type=file]').files[0];
					var reader = new FileReader();

					reader.addEventListener("load", function () {
						preview.src = reader.result;
					}, false);

					if (file) {
						reader.readAsDataURL(file);
					}
				}
			</script>
		</div>

		<!-- downloading panel -->
		<div class="container2" id="container2">
			<img src="{{ url_for('static', filename=imaging) }}" />
<!--			<img src="static/downloadButton.png" class="button" />-->
		</div>
		
		<!-- BUTTONS vv -->
		<form method="post" enctype="multipart/form-data">
			<input type="file" class="choosefile_button" name="file" onchange="previewFile()"/>
			<input type="submit" class="upload_button" value="Upload File" name="submit"/>
		</form>

		<!-- BUTTONS ^^ -->
	</body>
</html>
